---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About The HalfCourt"
	description="What this is and who's writing it."
	pubDate={new Date('July 01 2026')}
>
	<p>
		The HalfCourt is an NBA blog and newsletter that releases thoughtful
		articles about various NBA related topics, using a blend of film and
		analytics to build arguments and shift the way you view basketball. I, the
		creator of this blog/newsletter, am a college student with a love for
		basketball that enjoys writing opinionated pieces. I started The HalfCourt as
		a summer-break passion project, but would love for it to expand into
		something bigger! Know that any article or email you read is greatly
		appreciated.
	</p>

	<p>
		Want to reach out, pitch a topic, make a business inquiry, or simply tell me
		I'm wrong about your favorite player or team? Just hit me up on{' '}
		<a href="https://x.com/" target="_blank" rel="noopener">X</a> or{' '}
		<a href="https://instagram.com/" target="_blank" rel="noopener">Instagram</a>,
		and I'll be happy to hear what you have to say!
	</p>
</Layout>
